
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc0606;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays on top of other content */
}

.navbar-logo .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 10px 20px;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
}

.navbar-link:hover {
    text-decoration: underline; /* Add underline on hover */
    text-decoration-thickness: 3px;
    background-color: transparent; /* Optional: background color change */
    color: #f2f1ed; /* Optional: text color change on hover */
}

  /* Optional: Add a responsive media query */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-list {
        width: 100%;
        text-align: left;
    }

    .navbar-item {
        margin: 5px 0;
    }
}

  /* Add padding to the body to prevent content from hiding under the navbar */
body {
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
}
